.git
.gitignore
.env
.env.*
!.env.example

node_modules
npm-debug.log
yarn-error.log

vendor
composer.lock

storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

.phpunit.result.cache
.phpunit.cache

tests/
*.md
README*

.idea
.vscode
.fleet
.zed
